.header__logo{
  margin: 45px 0 41px;
  width: 142px;
  height: 33px;
  background-image: url(../../../images/mesto_logo.svg);
  background-size: 142px 33px;
}

@media (max-width: calc(282px * 3 + 17px * 2 + 18.5px * 2)) {
  .header__logo{
    margin: 28px auto 31.6px 0px;
    width: 103.74px;
    height: 24.4px;
    background-size: 103.74px 24.4px;
  }
}

@media (max-width: calc(282px * 2 + 17px + 18.5px * 2)) {
  .header__logo{
    margin: 28px auto 31.6px 27px;
  }
}
