.popup__form-submit{
  margin: 48px auto 0;
  width: calc(100% - 36px * 2);
  height: 50px;
  background-color: #000;
  color: #fff;
  font-size: 18px;
  line-height: 22px;
  cursor: pointer;
  border: none;
  border-radius: 2px;
  transition: opacity .4s;
}

.popup__form-submit:hover{
  opacity: .8;
}

@media (max-width: calc(282px * 2 + 17px + 18.5px * 2)) {
  .popup__form-submit{
    margin: 45px auto 0;
    width: calc(100% - 22px * 2);
    height: 46px;
    font-size: 14px;
    line-height: 17px;
  }
}
