.popup__input-text{
  padding: 0 0 13px 0;
  width: calc(100% - 36px * 2);
  font-size: 14px;
  line-height: 17px;
  box-sizing: border-box;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, .2);
}

.popup__input-text::placeholder {
  color: #000;
}

.popup__input-text:focus {
  outline: none;
}

@media (max-width: calc(282px * 2 + 17px + 18.5px * 2)) {
  .popup__input-text{
    width: calc(100% - 22px * 2);
  }
}
