.form__title{
  margin: 34px auto 24px 36px;
  font-size: 24px;
  font-weight: 900;
  line-height: 29px;
}

@media (max-width: calc(282px * 2 + 17px + 18.5px * 2)) {
  .form__title{
    margin: 25px auto 45px 22px;
    font-size: 18px;
    line-height: 22px;
  }
}
